body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 25px;
    background-color: blanchedalmond;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}

#output {
    margin-top: 20px;
    padding: 10px;
    margin: 0 auto;
}